@model Final.Areas.Wp_admin.ViewModels.DashboardViewModels

@{
    ViewData["Title"] = "Index";
}

<!--/services-->
<section id="services" class="section pad-bot5">
    <div class="container">
        <div>
            <div class="col-md-9 ">
                <div class="box box-primary box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Duyệt các chủ đề</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    @foreach (var item in Model.Cateogory.Take(20))
                    {
                        <div class="box-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-2">
                                        <a class="btn btn-sm btn-default btn-flat btn-default" asp-action="Details" asp-controller="Categories" asp-route-id="@item.CategoryId">
                                            <i class="">@item.CategoryName</i>
                                            <span class="badge bg-green">@item.BlogPosts.Count()</span>
                                        </a> 
                                    </div>
                                    <div class="col-md-10">
                                        <span class="bg-warning">@item.CategoryDes</span>
                                    </div>
                               
                                </div>
                            </div>
                        </div>
                        
                    }
                </div>
                <!-- /.box-body -->
            </div>

            <div class="col-md-3">
                <div class="box box-danger box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Tìm kiếm</h3>
                        <span class="label label-warning pull-right"><i class="fa fa-search-plus"></i></span>
                        <!-- /.box-tools -->
                    </div>

                    <!-- /.box-header -->
                    <div class="box-body">
                        <form method="get" action="./search">
                            <input type="text" class="form-control" id="inputSuccess" placeholder="Enter ...">
                        </form>
                    </div>
                </div>
                <div class="bg-blue-active form-group text-center">
                    <br />
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <a class="btn btn-warning btn-lg btn-block" href="/home/submit">Submit</a>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <br />
                </div>

                <div class="box box-primary box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Chuyên mục</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>

                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        @foreach (var item in Model.Cateogory.ToList())
                        {
                            <div class="col-md-10">
                                <a asp-action="">@item.CategoryName</a>
                            </div>
                            if (item.BlogPosts != null)
                            {
                            <div class="col-md-2">
                                <div class="badge">@item.BlogPosts.Count()</div>
                            </div>
                            }
                        }
                    </div>
                </div>
                <img src="http://v3.oasearch.net/images/51wZrJpDNuL._SX408_BO1,204,203,200_.jpg" class="img-responsive" />

                <!-- /.box-body -->
            </div>

        </div>
    </div>
</section>

